<div class='options-links-container'>
  <div class='options-link-container'>
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'options-link' %>
  </div>
</div>
<!--______________MY TOPICS_______________-->
<div class='subheading-container'>
  <div class='bracket bracket-red-top-left'></div>
  <div class='bracket bracket-red-bottom-right'></div>
  <h1 class='subheading'>My Topics</h1>
</div>

<div id='profile-page-topics-search-container' class='search-container' data=<%= @profile.topics.to_json %>></div>

<div id='new-topic-form-container'></div>
<div class='subheading-container'>
  <div class='bracket bracket-blue-top-left'></div>
  <div class='bracket bracket-blue-bottom-right'></div>
  <h1 class='subheading'>My Friends</h1>
</div>

<%= javascript_pack_tag 'search'  %>
<%= javascript_pack_tag 'newTopicForm' %>
<%= content_tag :div,
  id: "search-data",
  data: { search_group_name: 'profile-page-topics', search_items: @profile.topics.to_json, color: 'red' } do %>
<% end %>

<!--______________MY Friends_______________-->
<br>
