<h2 class='form-title'>Edit <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class='form-container'>
    <%= devise_error_messages! %>

    <div class='form-devise-row'>
      <div class='form-devise-label-container'>
        <%= f.label :email, class: 'form-devise-label' %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-input-field form-input-devise'  %>
      <div class='form-devise-label-container'></div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class='form-devise-row'>
      <div class='form-devise-label-container'>
        <%= f.label :password, class: 'form-devise-label' %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-input-field form-input-devise' %>
      <div class='form-devise-label-container'>
         <p class='form-devise-label'>(leave blank if you don't want to change it)</p>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    <div class='form-devise-row'>
      <div class='form-devise-label-container'>
        <%= f.label :password_confirmation, class: 'form-devise-label' %>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input-field form-input-devise' %>
      <div class='form-devise-label-container'></div>
    </div>

    <div class='form-devise-row'>
      <div class='form-devise-label-container'>
        <%= f.label :current_password, class: 'form-devise-label' %> 
      </div>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-input-field form-input-devise' %>
      <div class='form-devise-label-container'>
      </div>
    </div>

    <div class='form-devise-row'>
      <%= f.fields_for :profile_attributes do |profile_fields| %>
        <div class='form-devise-label-container'>
          <%= profile_fields.label :name, class: 'form-devise-label' %>
        </div>
        <%= profile_fields.text_field :name, class: 'form-input-field form-input-devise'%>
        <div class='form-devise-label-container'></div>
      <% end %>
    </div>
    
    <div class='form-devise-row'>
      <div class='form-devise-label-container'></div>
      <%= f.submit "Update", class: 'form-submit-btn' %>
      <div class='form-devise-label-container'></div>
    </div>
  </div>
<% end %>

<h4 class='form-devise-unhappy'>Unhappy?</h4>
<div class='devise-options-container'>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'options-link' %>
</div>

<%= link_to "Back", :back, class: 'options-link' %>

<div class='bottom-spacer'></div>
