<h1><%= @topic.title %></h1>
<h2><%= @topic.description %></h2>

<h1>Posts in this topic</h1>
<% @topic.posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <p><%= post.subtitle %></p>
<% end %>

<p><%= link_to 'new post', new_post_path(topic: @topic) %></p>

<% if @topic.profile.user == current_user %>
  <%= link_to 'edit topic', edit_topic_path %>
  |
  <%= link_to 'delete topic', @topic, method: :delete, data: { confirm: 'Are you sure? All posts in this topic will also be deleted' } %>
<% end %>
