<div class='topic-heading-container'>
  <div class='topic-bracket topic-bracket-left'></div>
  <div class='topic-bracket topic-bracket-right'></div>
  <h2 class='topic-heading'><%= character_limit(@topic.title, 120) %></h2>
</div>

<div class='topic-description-container'>
  <div class='topic-description-bracket topic-description-bracket-top-left'></div>
  <div class='topic-description-bracket topic-description-bracket-bottom-right'></div>
  <h2 class='topic-description'><%= @topic.description %></h2>
</div>

<% if @topic.profile.user == current_user %>
  <div class='options-links-container'> 
    <span class='options-link-container'><%= link_to 'edit topic', edit_topic_path, class: 'options-link' %></span>
    <span class='options-link-separator'>|</span>
    <span class='options-link-container'><%= link_to 'delete topic', @topic, method: :delete, class: 'options-link', data: { confirm: 'Are you sure? All posts in this topic will also be deleted' } %></span>
  </div>
<% end %>

<div class='japanese-btn-hover japanese-btn-blue'>
  <div class='inner-box inner-box-right'></div>
  <h2 class='japanese-btn-inner-content'><%= link_to 'new post', new_post_path(topic: @topic) %></h2>
  <p class='vertical-text vertical-text-right'>記事</p>
  <p class='horizontal-text horizontal-text-left'>新しい</p>
</div>

<%= javascript_pack_tag 'search'  %>
<div id='topic-page-posts-search-container' ></div>


<%= content_tag :div,
  id: "search-data",
  data: { search_group_name: 'topic-page-posts', search_items: @topic.posts.to_json, color: 'red' } do %>
<% end %>
