<div class='topic-heading-container'>
  <div class='topic-bracket topic-bracket-left'></div>
  <div class='topic-bracket topic-bracket-right'></div>
  <h2 class='topic-heading'><%= character_limit(@topic.title, 120) %></h2>
</div>

<div class='topic-description-container'>
  <div class='topic-description-bracket topic-description-bracket-top-left'></div>
  <div class='topic-description-bracket topic-description-bracket-bottom-right'></div>
  <h2 class='topic-description'><%= @topic.description %></h2>
</div>

<% if @topic.profile.user == current_user %>
  <div class='topic-options-links-container'> 
    <span class='topic-options-link-container'><%= link_to 'edit topic', edit_topic_path, class: 'topic-options-link' %></span>
    <span class='topic-options-link-separator'>|</span>
    <span class='topic-options-link-container'><%= link_to 'delete topic', @topic, method: :delete, class: 'topic-options-link', data: { confirm: 'Are you sure? All posts in this topic will also be deleted' } %></span>
  </div>
<% end %>

<div class='japanese-btn-hover japanese-btn-blue'>
  <div class='inner-box inner-box-right'></div>
  <h2 class='japanese-btn-inner-content'><%= link_to 'new post', new_post_path(topic: @topic) %></h2>
  <p class='vertical-text vertical-text-right'>記事</p>
  <p class='horizontal-text horizontal-text-left'>新しい</p>
</div>

<% @topic.posts.each do |post| %>
  <div class='post-card'>
    <%= link_to '', post, class: 'post-card-link-box' %>
    <div class='post-card-title-container'>
      <div class='post-card-bracket post-card-bracket-top-left'></div>
      <div class='post-card-bracket post-card-bracket-bottom-right'></div>
      <h3 class='post-card-title'><%= character_limit(post.title, 80) %></h3>
    </div>
    <p class='post-card-subtitle'><%= post.subtitle %></p>
    <p class='post-card-timestamp'><%= render 'shared/timestamp', post: post %></p>
  </div>
<% end %>

