<% if current_user %>
  <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %>
  |
  <%= link_to 'edit profile', edit_user_registration_path %>
  <br>
  <h1 class='think-tank-title'>ThinkTank</h1>
  <%= 'ADMIN' if current_user.admin %> <%= link_to current_user.profile.name, current_user.profile %> | <%= link_to 'Home', root_path %> | about
<% else %>
  <%= link_to 'sign in', new_user_session_path %>
  |
  <%= link_to 'sign up', new_user_registration_path %>
<% end %>
