<div class='nav-header-container'>
  <%= render 'shared/nav_header_lines' %>
  <div class='notices'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class='nav-header-devise-links-container'>
    <div class='nav-header-devise-links'>
      <% if current_user %>
        <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %>
      <% else %>
        <%= link_to 'sign in', new_user_session_path %>
        |
        <%= link_to 'sign up', new_user_registration_path %>
      <% end %>
    </div>
  </div>

  <h1 class='think-tank-title'>ThinkTank</h1>
  <% if current_user %>
    <div class='nav-header-links'>
      <h4 class='nav-header-link'>
        <%= 'ADMIN' if current_user.admin %> <%= link_to current_user.profile.name, current_user.profile, class: ('active' if current_page?(current_user.profile))%>
      </h4>
      <h4 class='nav-header-link'>
        <%= link_to 'Home', root_path, class: ('active' if current_page?(root_path)) %>
      </h4>
      <h4 class='nav-header-link'>
        <a href='#'>about</a>
      </h4>
    </div>
  <% end %>
</div>
