<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>

  <div>
    <%= f.text_area :subtitle, placeholder: 'Subtitle' %>
  </div>

  <div>
    <%= f.text_area :content, placeholder: 'Content' %>
  </div>

  <div>
    <%= f.hidden_field :topic_id, value: params[:topic] %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
