<%= form_for @post do |f| %>
  <div class='form-container'>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-input-field form-input-title' %>

    <%= f.text_area :subtitle, placeholder: 'Subtitle', class: 'form-input-field form-input-subtitle' %>

    <%= f.text_area :content, placeholder: 'Content', class: 'form-input-field form-input-content' %>

    <%= f.hidden_field :topic_id, value: @post.topic_id || params[:topic] %>

    <%= f.submit class: 'form-submit-btn' %>
  </div>
<% end %>
