<% if current_user.admin %>
  <div>
    <%= link_to 'Edit', edit_post_path(@post) %>
  </div>
<% end %>
<h1><%= @post.title %></h1>
<h2><%= @post.subtitle %></h2>
<h3><%= @post.content %></h3>
<%= render 'timestamp', post: @post %>

<hr>

<div>
  <%= link_to 'All Posts', posts_path %>
</div>
