<% if current_user.admin %>
  <div>
    <%= link_to 'Edit', edit_post_path(@post) %>
  </div>
<% end %>
<h1><%= @post.title %></h1>
<h2><%= @post.subtitle %></h2>
<h3><%= @post.content %></h3>
<h4><%= @post.user.username.name %></h4>

<hr>

<div>
  <%= link_to 'All Posts', posts_path %>
</div>
