<% if current_user && @post.profile == current_user.profile %>
  <div>
    <%= link_to 'edit', edit_post_path(@post) %>
    |
    <%= link_to 'delete', @post, method: :delete %>
  </div>
<% end %>
<h1><%= @post.title %></h1>
<h2><%= @post.subtitle %></h2>
<h3><%= @post.content %></h3>

<%= render 'shared/timestamp', post: @post %>

<hr>

<div>
  <%= link_to 'Back to topic', @post.topic %>
</div>
